.fontAll{
    font-family: "Yeseva One";
    font-size: 16px;
    color: black;
}

.__indexFormMargin{
    margin-top: 61px;
}

.fontHeading{
    font-size: 24px;
    font-weight: bolder;
}

.linkAdd{
    color: black;
    width: 141px;
    background-color: #70ED9B;
    height: 33px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    padding-top: 5px;
}

.linkWidth{
    width: 141px;
}

.linkWidth a:hover{
    text-decoration: none;
}

.backColor{
    background-color: #838383;
}

.linkD{
    width: 288px;
    height: 23px;
}

.linkEdit{
    padding-left: 28px;
    width: 144px;
    height: 23px;
    display: inline-block;
    border-radius: 10px 0 0 10px;
    background-color: #75C9ED;
    color: black;
    padding-top: 1px;
}

.buttonDelete{
    width: 144px;
    height: 23px;
    background-color: #D73E3E;
    border-radius: 0 10px 10px 0;
    border: 0px;
}

.nameAction{
    margin-top: 11px;
    font-weight: bold;
    font-size: 18px;
}

.__form{
    margin-top: 53px;
    font-size: 14px;
}

.__labelForm{
    width: 150px;
    padding-top: 8px;
}

.form-control{
    width: 400px;
}

.__position{
    display: flex;
}

.saveButton{
    width: 141px;
    height: 33px;
    background-color: #70ED9B;
    border: 0;
    border-radius: 10px;
    margin-top: 24px;
    font-size: 14px;
    font-weight: bold;
}

.__login{
    width: 634px;
    height: 520px;
    border-radius: 10px;
    background-color: #EAE7E7;
}

.auth{
    width: 634px;
    height: 69px;
    background-color: #6E6E6E;
    border-radius: 10px 10px 0 0;
    text-align: center;
    color: #FFFCFC;
    font-size: 24px;
    font-weight: bolder;
    padding-top: 15px;
}

.__formAuth{
    margin-top: 76px;
    margin-left: 128px;
    font-size: 24px;
}

.authButton{
    font-size: 18px;
    margin-top: 44px;
    margin-left: 96px;
    width: 187px;
    height: 42px;
    border: 0;
    background-color: #6E6E6E;
    border-radius: 10px;
    font-weight: bolder;
    color: #FFFDFD;
}

.header{
    background-color: #75C9ED;
    height: 52px;
    text-align: right;
}

.logOut{
    margin-top: 12px;
    margin-right: 17px;
    background-color: #EC7575;
    border: 0;
    border-radius: 10px;
    width: 75px;
    color: black;
}